STRIPE_API_KEY="sk_test_51MjbeMLUyNHnHR56ghODyP72NgDWRampHyhFefBv9tP6xCc9ySabM2BipAaCnl6vfjDY6o97LWgeztMcyxy19SBF00yJjf0L6H"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51MjbeMLUyNHnHR56xghv0obaIWw8PTYRUB7O7zUcwrBrG0GUdYyh7hMAb3FkWr49dftYNQwq2E1vTvLJt08dO9Uj00x5m3kK2L"